<html>
<head>
    <meta charset="utf-8">
    <title>聊天室</title>
</head>
<body>
<div>
    <h1 id="id-rooms-title">聊天室</h1>
    <a class="gua-room" href="#">大厅</a>
    <a class="gua-room" href="#">游戏</a>
    <a class="gua-room" href="#">水区</a>
</div>
<h1>chat</h1>
<div>
    <textarea id="id_chat_area" cols="80" rows="16" disabled></textarea>
</div>
<input id="id_input_text" size="80" placeholder="输入聊天消息"><br><br>

<script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>
<script src="/static/event.js"></script>
</body>
</html>
